.course-card-student-container {
    min-height: 160px;
    display: flex;
    gap: 30px;
    background-color: var(--white-bg);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.course-card-student-image {
    width: 190px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.course-card-student-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

.course-card-student-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-card-student-info > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.015em;
    margin-top: 15px;
    color: var(--gray-3);
}

.course-card-student-status {
    display: flex;
    align-items: center;
    gap: 6px;
}

.course-card-student-status p {
    margin: 0;
    font-size: 15px;
}

.course-card-student-button {
    margin-right: 30px;
}

.course-card-student-button button {
    padding: 13px 40px;
    border-radius: 10px;
    color: var(--gray-4);
    background-color: var(--white-bg);
    border: 1px solid var(--gray-4);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    transition: .4s ease;
}

.course-card-student-button button:hover {
    background-color: var(--white-light);
}

@media (max-width: 768px) {
    .course-card-student-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: auto;
        width: 240px;
        gap: 0px;
    }

    .course-card-student-image {
        height: 150px;
    }

    .course-card-student-image,
    .course-card-student-image img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .course-card-student-image img {
        height: 100%;
        object-fit: fill;
    }

    .course-card-student-content {
        padding: 20px 12px;
        flex-direction: column;
        gap: 10px;
    }

    .course-card-student-button {
        margin-right: 0;
        margin-top: 20px;
    }

    .course-card-student-info > p {
        display: none;
    }

    .course-card-student-status {
        margin-top: 20px;
    }

    p {
        font-size: 14px;
    }

    .course-card-student-info h5 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 636px) {
    .course-card-student-container {
       width: 280px;
    }
}

@media (max-width: 408px) {
    .course-card-student-container {
       width: 220px;
    }
}