.details-score-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.score {
    margin: 0;
    padding-top: 5px;
    font-weight: 700;
    line-height: 22px;
    color: var(--yellow);
}

.count-score {
    margin: 0;
    font-weight: 400;
    padding-top: 5px;
    font-size: 14px;
    line-height: 19px;
    color: var(--gray-4);
}

.catalog-score-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}



