.course-title-score-container .score-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course-title-score-container .score {
    margin: 0;
    padding-top: 5px;
    font-weight: 700;
    line-height: 22px;
    color: var(--yellow);
}

.course-details-card-top .count-score {
    margin: 0;
    font-weight: 400;
    padding-top: 5px;
    font-size: 14px;
    line-height: 19px;
    color: var(--gray-4);
}