.course-filter-container {
    padding: 15px;
    margin-bottom: 20px;
    max-width: 900px;
    height: 100%;
    background-color: var(--white-bg);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 auto !important;
}

.course-filter-name-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-6);
    margin-bottom: 12px;
}

.course-filter-name-container input {
    border: none;
}

.course-filter-name-container input:focus {
    box-shadow: none;
}

.course-filter-name-container input::placeholder {
    color: var(--gray-4);
}

.course-filter-button {
    border: none;
    background-color: unset;
}

.search-icon {
    font-size: 19px;
    color: var(--gray-4);
}

.course-filter-bottom-container {
    display: flex;
    gap: 15px;
}

.course-filter-category-container {
    flex: 1;
}

.course-filter-select__control {
    color: var(--black);
    border: none !important;
    border-bottom: 1px solid var(--gray-6) !important;
}

.course-filter-select__placeholder {
    color: var(--gray-4) !important;
}

.course-filter-select__indicator-separator {
    display: none
}


.btn-clear-filter {
    text-transform: uppercase;
    padding: 11px 20px;
    background-color: transparent;
    border: 1px solid var(--gray-4);
    color: var(--gray-4);
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    transition: all .4s ease;
}

.btn-clear-filter:hover {
    background-color: var(--white);
}

.btn-clear-filter-word {
    display: none;
}


/* Media Queries */
@media (min-width: 576px) {
    .btn-clear-filter-word {
        display: unset;
    } 
}

@media (min-width: 768px) {
    .course-filter-container {
        margin-left: 20px;
        flex: 1;
        margin-bottom: 0;
        padding: 10px 15px;
    }

    .course-filter-form {
        display: flex;
        justify-content: center;
    }

    .course-filter-name-container {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .course-filter-bottom-container {
        flex: 1;
    }

    .course-filter-category-container {
        margin-top: 5px;
    }

    .btn-clear-filter-word {
        display: none;
    } 
}

@media (min-width: 992px) {
    .btn-clear-filter-word {
        display: unset;
    } 
}

