.event-card {
    width: 300px;
    height: 410px;
/*     display: flex;
    flex-direction: column;
    align-items: center; */
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: var(--white-bg);
}

.event-card p {
    margin: 0;
}

.event-card-image {
    width: 250px;
    height: 175px;
    margin-top: 20px;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 20px;
}

.event-card-image img {
    width: 100%;
    border-radius: 10px;
}

.event-card-info {
    padding: 0px 27px;
    margin-top: 30px;
}

.event-card-info p:first-child {
    color: var(--purple);
    letter-spacing: -0.025em;
}

.event-card-info p:last-child {
    padding-top: 12px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.025em;
    color: var(--black);
}

.event-start-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.event-start-date p {
    color: var(--gray-1);
    padding-top: 2px;
}

.calendar-icon {
    color: var(--black);
    font-size: 20px;
}