.student-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

.student-content {
    padding: 20px;
}


/* Media Queries */
@media (min-width: 1200px) {
    .student-container {
        flex-direction: row;
    }

    .student-content {
        flex: 1;
    }
}