footer {
    height: 270px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-credits {
    max-width: 500px;
}

.footer-credits p {
    margin: 0;
    padding: 50px 0px 10px 0px;
}

.footer-icons {
    display: flex;
    gap: 32px;
}

.footer-icons .github,
.footer-icons .linkedin {
    font-size: 26px;
    color: var(--black);
}

.footer-icons .github:hover,
.footer-icons .linkedin:hover {
    color: var(--purple);
}


/* Media Queries */
@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }    
}