.categories-card {
    width: 265px;
    height: 75px;
    align-items: center;
    display: flex;
    gap: 20px;
    grid-area: card;
    background-color: var(--white-bg);
    border: 2px solid var(--gray-5);
    border-radius: 8px;
    transition: all .4s ease;
}

.categories-card-img {
    margin-left: 20px;
    width: 43px;
    height: 43px;
}

.categories-card-img img {
    width: 100%;
}

.categories-card-info p {
    display: block;
    margin: 0 !important;
    padding: 2px 0px;
}

.categories-card-info p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: var(--black);
}


/* Media Queries */
@media (max-width: 768px) {       
    .categories-card {
        width: 200px;
    }
}

@media (max-width: 467px) {
    .categories-card {
        width: 265px;
    }
}