@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --purple: #6255A4;
    --purple-light: #8B80BE;
    --purple-dark: #483E7D;
    --yellow: #FFBD3D;
    --yellow-light: #FFD06C;
    --yellow-dark: #DFA632;
    --white: #F4F2F7;
    --white-light: #FBFAFC;
    --white-dark: #EDEBF0;
    --black: #17151A;
    --black-light: #232126;
    --black-dark: #0B0B0D;
    --gray-1: #4E5050;
    --gray-2: #6D6F70;
    --gray-3: #989898;
    --gray-4: #9E9E9E;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    background-color: var(--white);
    color: var(--black);
}
