.my-courses-container {
    max-width: 1290px;
    padding: 40px 30px;
}

.my-courses-top {
    display: flex;
    align-items: center;
}

.btn-add-content {
    background: var(--purple);
    color: var(--white);
    border: 0;
}

.btn-add-content:hover {
    color: var(--white);
    opacity: .92;
}

.my-courses-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.my-courses-pagination-container {
    margin-top: 60px;
}

@media (max-width: 768px) {
    .my-courses-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 636px) {
    .my-courses-top {
        justify-content: center;
    }

    .my-courses-list {
        align-items: center;
        justify-content: center;
    }
}