.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
    background-color: transparent;
    color: var(--black);
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    cursor: pointer;
    transition: all .4s ease;
}

.pagination-item:last-child { 
    margin-right: 10px;
}

.pagination-item:not(.active):hover {
    background-color: var(--purple-light);
    color: var(--white);
}

.pagination-item.active {
    background-color: var(--purple);
    color: var(--white);
}

.pagination-link-active {
    background-color: var(--purple);
    color: var(--white);
}
.arrow-pagination {
    font-size: 23px;
    cursor: pointer;
    color: var(--purple);
}

.arrow-active {
    color: var(--purple);
}

.arrow-inactive {
    color: var(--gray-5);
}

.arrow-previous {
    transform: rotate(180deg);
    margin-right: 13px;
}

.arrow-next {
    color: var(--purple);
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

.pagination-arrow-container {
    display: flex;
    align-items: center;
}