.add-content-button-container {
    display: flex;
    gap: 30px;
}

.btn-add-content {
    background: var(--purple);
    color: var(--white);
    border: 0;
}

.btn-add-content:hover {
    color: var(--white);
    opacity: .92;
}