.resource-catalog {
    background-color: var(--white);
}

.resource-catalog-title {
    text-align: center;
    padding-top: 75px;
}

.resource-catalog-title h5 {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: var(--purple);
}

.resource-catalog h2 {
    color: var(--black);
}

.resource-catalog-table {
    margin-top: 60px;
}

.resource-pagination-container {
    margin-top: 60px;
    padding-bottom: 60px;
}

.resource-table-container {
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--white-bg);
}

.resource-table {
    overflow-x: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.resource-table table {
    margin: 0 auto;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
}

.table thead {
    border-bottom-width: 2px;

}

.resource-table th {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-bottom: unset;
}

.resource-table tbody tr:nth-child(odd) {
    background-color: var(--table-row);
}

.resource-table tbody tr td {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
}

.resource-table tbody tr td:first-child,
.resource-table tbody tr td:nth-child(3),
.resource-table tbody tr td:nth-child(4),
.resource-table tbody tr td:last-child {
    text-align: center;
}

.resource-table tbody tr td:last-child {
    cursor: pointer;
}

.resource-table tbody .resource-view-description,
.resource-modal-title button {
    border: none;
    background-color: transparent;
}


/* Media Queries */
@media (max-width: 1200px) {
    .course-catalog-container {
        justify-content: space-around;
    }
}

@media (max-width: 992px) {
    .resource-table table {
        overflow-x: auto;
    }
}